@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin : 0;
    padding : 0;
    border : 0;
    font-size : 100%;
    font : inherit;
    font-family : '微软雅黑','宋体';
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #333333;
    background-color: #f6f6f6;
}
input,textarea{
    font-size:12px;
    font-family : '微软雅黑','宋体';
}
body{
    line-height : 1.2;
    min-width: 900px;
    max-width: 1024px;
    margin:0 auto!important;
 }
ol,ul,dl,dt,dd { list-style : none; }

table {
    border-collapse : collapse;
    border-spacing : 0;
}
input,textarea,a{ outline: none;}
a { text-decoration : none; }
a:hover { cursor: pointer; }

.clearfix:after{
    display: block;
    content: "";
    height: 0;
    clear: both;
}

.risk-net{
    margin: 10px 5px;
    padding: 5px;
    width: 480px;
    height: 480px;
    background-image:url('../image/background.png');
    background-repeat: no-repeat;
    background-size:cover
}
.rd-left{
    float: left;
    width: 500px;
}
.rd-right{
    float: left;
    width: 580px;
}
.rd-half{
    float: left;
    width: 50%;
}
.rd-container{
	  position: relative;
	  overflow: hidden;
    margin: 10px 5px;
    padding: 5px;
    min-height: 60px;
    line-height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
}
.rd-head{
    margin: 10px 5px;
    padding: 5px;
    height: 50px;
    background-color: #f6f6f6;
    font-size: 36px;
    color: #333333;
    letter-spacing: 4px;
}
.rd-head span{
    display: inline-block;
    line-height: 50px;
}
.rd-baseinfo{
    margin: 10px 5px;
    padding: 5px;
    min-height: 60px;
    line-height: 30px;
}
.rd-baseinfo-title{
    color: #65C3D6;
    font-size: 18px;
    border-bottom:1px solid #65C3D6;
}
.rd-baseinfo-content{
    height: 90px;
}

.rd-risksection caption{
    text-align: left;
    color: #333333;
    font-size: 18px;
    border-bottom:2px solid #65C3D6;
}
.rd-risksection{
    width: 100%;
    font-size: 14px;
}
.rd-risksection caption, .rd-risksection tr th, .rd-risksection tr td {
    text-align: left;
    text-indent: 5px;
}
.rd-risksection tr th{
    color: #999999;
}
.rd-risksection thead tr{
    border-bottom: 1px solid #DDDDDD;
}
.rd-chart-tbbox{
  position: relative;
}
.rd-chart-tbbox .ico_add{
	position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -25px;
  height: 50px;
  text-align: center;
}
.rd-chart-tbbox .ico_add_pic{
	display: block;
  width:50px;
  height:50px;
  color: #ffffff;
  background:url("../image/rd_ico_add.png") no-repeat center;
}
.chart-tbbox{
	  margin: 10px 5px;
	  border-radius: 0;
	  min-height: 150px;
	  line-height: 30px;
	  background: #ffffff;
}
.chart-tbbox thead th{
	  background-color: #65c3d6;
	  color: #ffffff;
	  font-size: 8px;
}
.rd-footer{
	  padding: 10px 50px;
	  text-align: right;
	  background-color: #65c3d6;
	  color: #ffffff;
	  font-size: 12px;
}

.sign-blue{
	color: blue;
	font-weight: bold;
}
.sign-orange{
  color: orange;
  font-weight: bold;
}
.sign-red{
  color: red;
  font-weight: bold;
}
.sign-yellow{
  color: #f4c404;
  font-weight: bold;
}
.sign-green{
  color: #05c990;
  font-weight: bold;
}
.info-header-title{
  margin: 20px 0;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
}
.info-title{
  margin: 15px 0;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}
.rd-container table>tbody>tr:hover{
  background: #E8F2FE;
}
.rd-container table>tbody>tr>td>table>tbody>tr:hover{
  background: #D1DBE5;
}
.m-t-20{
  margin-top: 20px;
}
.m-t-40{
  margin-top: 40px;
}
.m-t-50{
  margin-top: 50px;
}
.m-5-5{
  margin: 5px;
}
.hide,
.hidden{
	display:none!important;
}
.font12{
	font-size: 12px;
}
.rotatelogo{
  position: absolute;
  z-index: 99;
  padding: 5px;
  top: 30px;
  right: -50px;
  width: 200px;
  background: #65c3d6;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
  text-align: center; 
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -moz-transform: rotate(45deg); /* Firefox */ 
  -webkit-transform: rotate(45deg); /* Safari 和 Chrome */
  -o-transform: rotate(45deg);  /* Opera */
}
.rd-body{
	position: relative;
}
.model{
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.1);
	text-align:center;
}
.loading-text{
	position: relative;
	top: 50px;
	color: #555;
	text-align: center;
	font-size: 30px;
}
.page-list {
	padding: 10px 0;
  height: 31px;
  line-height: 31px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.page-list .total {
  display: inline;
  margin-right: 15px;
  margin-left: -30px;
  color: #bbb;
}

.page-list .page-total {
  display: inline;
  margin-right: 10px;
}

.page-list .pagination123 {
  display: inline;
  margin-right: 10px;
}

.page-list .pagination123 a {
  display: inline-block;
  cursor: pointer;
  width: 26px;
  position: relative;
  line-height: 26px;
  color: #428bca;
  font-size: 14px;
  text-indent: 0;
  background-color: #fff;
  border: 1px solid #f4f4f4;
}
.page-list .pagination123 a:hover {
  background: #ddd;
}
.page-list .pagination123 a.active {
  background: #09c;
  border: 1px solid #09c;
  color: #fff;
}
.page-list .pagination123 a.active:hover {
  background: #09c;
}

.page-list .pagination123 a.disabled {
  cursor: not-allowed;
  background: none;
}
.page-list .pagination123 a.disabled span {
  color: #999;
}

.page-list ul {
  margin: 0;
  display: inline;
}

.page-list .pagination span {
  cursor: pointer;
}

.page-list .pagination .separate span {
  cursor: default;
  border-top: none;
  border-bottom: none;
}

.page-list .pagination .separate span:hover {
  background: none;
}

.page-list .page-total input, .page-list .page-total select {
  height: 26px;
  border: 1px solid #ddd;
}

.page-list .page-total input {
  width: 40px;
  height: 31px;
  text-align: center;
}
.nullTip{
  margin-right: 10px;
  color: #f00;
  text-decoration: line-through;
}
.codeTip{
  font-size: 16px;
  color: #666;
}
.customer-head{
  position: relative;
  width: 100px;
  height: 100px;
}
.customer-head img{
  width: 100%;
  height: 100%;
}
.customer-head.stamp:after{
  display: block;
  position: absolute;
  width: 100px;
  height: 38px;
  left: -30%;
  top: 60%;
  content: '';
  background: url("../image/stamp.png") center center;
  background-size: cover;
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}
.baseinfo-box.rd-container table>tbody>tr:hover{
  background: none;
}
.normal-em{
  font-size: 15px;
  font-weight: 700;
  font-family: '黑体';
}
.warn-em{
  padding: 2px;
  border: 1px solid #f00;
  font-size: 15px;
  font-weight: bold;
  color: #f00;
}
[ng-cloak]{display:none;}
.over-hidden{
  overflow: hidden;
}
.rd-body{
  max-width: 1024px;
  margin: 0 auto;
}
.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999!important;
  outline: 0;
  overflow: auto;
}
.modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 30px auto;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .modal-title{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}
.modal-header .modal-close {
  display: inline-block;
  float: right;
  width: 30px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  opacity: .5;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  font-family: Arial, "Microsoft Yahei", Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.modal-header .modal-close:hover{
  opacity: 1;
}
.modal-body {
	position: relative;
	padding: 15px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0.5;
}
.modal #riskinfo.rd-risksection thead tr th,
.modal #riskinfo.rd-risksection tbody tr td {
  border: 1px solid #DDDDDD;
}
.normal-link{
  color: #333;
}
.warn-link{
  color: #f00;
  font-weight: bold;
}
.warn-link:hover{
  color: #dc373c;
}
.report-time{
	margin-right: 80px;
	display: inline-block;
	float: right;
	text-align: right;
	font-size: 14px;
	color: #666;
}
.icon-ok, 
.icon-no,
.icon-grey,
.icon-cert-ok, 
.icon-cert-no,
.icon-verify-ok,
.icon-verify-no{
	display: inline-block;
	vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}
.list-datasource .icon-ok, 
.list-datasource .icon-no, 
.list-datasource .icon-grey{
	margin: 0 30px 0 10px;
}
.icon-ok, 
.icon-no,
.icon-grey{
	width: 20px;
	height: 20px;
}
.icon-ok{
  background-image: url('../image/icon_ok.png');
}
.icon-no{
  background-image: url('../image/icon_no.png');
}
.icon-grey{
  background-image: url('../image/icon_grey.png');
}
.icon-cert-ok,
.icon-cert-no{
	width: 30px;
	height: 22px;
}
.icon-cert-ok{
  background-image: url('../image/cert_ok.png');
}
.icon-cert-no{
  background-image: url('../image/cert_no.png');
}
.icon-verify-ok,
.icon-verify-no{
	width: 22px;
	height: 22px;
}
.icon-verify-ok{
  background-image: url('../image/verify_ok.png');
}
.icon-verify-no{
  background-image: url('../image/verify_no.png');
}
.field-label{
	display: inline-block;
	width: 90px;
	text-align: right;
	font-size: 14px;
	color: #999;
}
.baseinfo-box .field-label{
	width: 160px;
}
.bold-font{
	font-weight: 700;
	font-size: 18px;
	color: #000;
}
.font-green{
	color: #2aa515;
}
.font-red{
	color: #d81e06;
}
.font-orange{
	color: #c08b2d;
}
.font-grey{
	color: #b1b6b0;
}
.bg-green,
.bg-red{
	padding: 2px 5px;
	vertical-align: middle;
	color: #fff;
}
.bg-green{
	background-color: #2aa515;
}
.bg-red{
	background-color: #d81e06;
}
.bg-orange{
	background-color: #c08b2d;
}
.bg-grey{
	background-color: #eee;
}
.grey-td{
	text-align: right!important;
	background-color: #eee;
	padding-right: 10px;
}
.emptytd-mark{
	line-height: 60px;
	color: #CCCCCC;
	font-family: "Microsoft Yahei";
	font-size: 26px;
	font-weight: bold;
	text-align: center!important;
}